{
    "root":true,
    "extends":[
       "eslint:recommended",
       "plugin:import/errors",
       "plugin:import/warnings"
    ],
    "plugins":[
       "react"
    ],
    "parser":"babel-eslint",
    "parserOptions":{
       "ecmaVersion":6,
       "sourceType":"module",
       "ecmaFeatures":{
          "jsx":true,
          "experimentalObjectRestSpread":true
       }
    },
    "env":{
       "es6":true,
       "browser":true,
       "node":true,
       "jquery":true,
       "mocha":true
    },
    "rules":{
       "array-bracket-spacing":[
          "warn",
          "never"
       ],
       "array-callback-return":"warn",
       "arrow-body-style":"warn",
       "arrow-parens":[
          "warn",
          "as-needed"
       ],
       "arrow-spacing":"warn",
       "brace-style":"warn",
       "camelcase":[
          "warn",
          {
             "properties":"never"
          }
       ],
       "comma-dangle":[
          "warn",
          "always-multiline"
       ],
       "comma-spacing":"warn",
       "comma-style":[
          "warn",
          "last"
       ],
       "dot-notation":"warn",
       "eol-last":"warn",
       "eqeqeq":"warn",
       "import/extensions":"warn",
       "indent":[
          "warn",
          2,
          {
             "SwitchCase":1,
             "MemberExpression":1,
             "FunctionExpression":{
                "body":1,
                "parameters":2
             }
          }
       ],
       "jsx-quotes":"warn",
       "key-spacing":"warn",
       "keyword-spacing":"warn",
       "max-len":[
          "warn",
          {
             "code":100,
             "ignoreUrls":true,
             "ignoreStrings":true,
             "ignoreTemplateLiterals":true
          }
       ],
       "new-cap":"warn",
       "newline-per-chained-call":"warn",
       "no-alert":"warn",
       "no-array-constructor":"warn",
       "no-confusing-arrow":"warn",
       "no-console":[
          "warn"
       ],
       "no-debugger":"error",
       "no-duplicate-imports":"error",
       "no-lone-blocks":"warn",
       "no-loop-func":"error",
       "no-multi-spaces":"warn",
       "no-nested-ternary":"warn",
       "no-new-func":"error",
       "no-new-object":"warn",
       "no-param-reassign":"warn",
       "no-plusplus":[
          "warn",
          {
             "allowForLoopAfterthoughts":true
          }
       ],
       "no-trailing-spaces":"warn",
       "no-underscore-dangle":"off",
       "no-unneeded-ternary":[
          "warn",
          {
             "defaultAssignment":false
          }
       ],
       "no-useless-constructor":"warn",
       "no-useless-escape":"error",
       "no-var":"warn",
       "no-whitespace-before-property":"error",
       "object-curly-spacing":[
          "warn",
          "always"
       ],
       "object-shorthand":"warn",
       "one-var":[
          "warn",
          "never"
       ],
       "padded-blocks":[
          "warn",
          "never"
       ],
       "prefer-arrow-callback":"warn",
       "prefer-const":"warn",
       "prefer-rest-params":"error",
       "prefer-spread":"error",
       "prefer-template":"warn",
       "quote-props":[
          "warn",
          "as-needed"
       ],
       "quotes":[
          "warn",
          "single"
       ],
       "react/display-name":[
          "warn",
          {
             "ignoreTranspilerName":false
          }
       ],
       "react/forbid-prop-types":[
          "warn",
          {
             "forbid":[
                "any"
             ]
          }
       ],
       "react/jsx-boolean-value":[
          "warn",
          "always"
       ],
       "react/jsx-closing-bracket-location":[
          "warn",
          "after-props"
       ],
       "react/jsx-curly-spacing":"warn",
       "react/jsx-indent":[
          "warn",
          2
       ],
       "react/jsx-indent-props":[
          "warn",
          2
       ],
       "react/jsx-key":"warn",
       "react/jsx-max-props-per-line":"off",
       "react/jsx-no-bind":"warn",
       "react/jsx-no-duplicate-props":"warn",
       "react/jsx-no-literals":"off",
       "react/jsx-no-undef":"warn",
       "react/jsx-pascal-case":"warn",
       "react/jsx-sort-prop-types":"off",
       "react/jsx-sort-props":"off",
       "react/jsx-space-before-closing":[
          "warn",
          "always"
       ],
       "react/jsx-uses-react":"warn",
       "react/jsx-uses-vars":"warn",
       "react/jsx-wrap-multilines":"warn",
       "react/no-danger":"warn",
       "react/no-did-mount-set-state":"warn",
       "react/no-did-update-set-state":"warn",
       "react/no-direct-mutation-state":"warn",
       "react/no-is-mounted":"error",
       "react/no-multi-comp":"warn",
       "react/no-set-state":"off",
       "react/no-unknown-property":"warn",
       "react/prefer-es6-class":"warn",
       "react/prop-types":"warn",
       "react/react-in-jsx-scope":"warn",
       "react/require-render-return":"warn",
       "react/self-closing-comp":"warn",
       "react/sort-comp":"warn",
       "semi":[
          "warn",
          "always"
       ],
       "space-before-blocks":"warn",
       "space-in-parens":[
          "warn",
          "never"
       ],
       "space-infix-ops":"warn",
       "spaced-comment":"warn",
       "template-curly-spacing":"warn",
       "wrap-iife":"error"
    },
    "globals":{
 
    }
 }
 